In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
stipendi = pd.read_csv("C:/Users/Utente/Desktop/coding/EntryAccreditoStipendi_202501.csv")
stipendi.head()

,comune_della_sede,amministrazione,eta_min,eta_max,sesso,modalita_pagamento,numero
0,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,25,34,F,Conto corrente/Carta conto,31
1,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,25,34,M,Conto corrente/Carta conto,18
2,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,35,44,F,Conto corrente/Carta conto,56
3,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,35,44,M,Conto corrente/Carta conto,18
4,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,45,54,F,Conto corrente/Carta conto,115

In [3]:
stipendi.rename(columns={"comune_della_sede": "comune"}, inplace=True)

In [7]:
stipendi.isna().sum()

comune                0
amministrazione       0
eta_min               0
eta_max               0
sesso                 0
modalita_pagamento    0
numero                0
dtype: int64

In [8]:
stipendi['eta_max'].unique()

array(['34', '44', '54', '64', ' ', '24'], dtype=object)

In [11]:
stipendi['fascia di età'] = stipendi['eta_min'].astype(str) + '-' + stipendi['eta_max'].astype(str)
stipendi.sample(5)

,comune,amministrazione,eta_min,eta_max,sesso,modalita_pagamento,numero,fascia di età
5343,CASTELLUCCHIO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,45,54,F,Conto corrente/Carta conto,49,45-54
20955,SARROCH,MINISTERO DELL'ISTRUZIONE E DEL MERITO,35,44,F,Conto corrente/Carta conto,10,35-44
5334,CASTELLI,MINISTERO DELL'ISTRUZIONE E DEL MERITO,45,54,F,Conto corrente/Carta conto,7,45-54
25446,VOGHERA,MINISTERO DELL'ISTRUZIONE E DEL MERITO,55,64,F,Conto corrente/Carta conto,341,55-64
17393,PORTO TORRES,MINISTERO DELL'ISTRUZIONE E DEL MERITO,35,44,F,Conto corrente/Carta conto,65,35-44

In [12]:
stipendi.drop(['eta_min', 'eta_max'], axis = 1, inplace = True)

In [13]:
stipendi.head()

,comune,amministrazione,sesso,modalita_pagamento,numero,fascia di età
0,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,F,Conto corrente/Carta conto,31,25-34
1,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,M,Conto corrente/Carta conto,18,25-34
2,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,F,Conto corrente/Carta conto,56,35-44
3,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,M,Conto corrente/Carta conto,18,35-44
4,ABANO TERME,MINISTERO DELL'ISTRUZIONE E DEL MERITO,F,Conto corrente/Carta conto,115,45-54

In [16]:
stipendi.to_csv("STIPENDI.csv", index=False)

In [17]:
pendolarismo =pd.read_csv("C:/Users/Utente/Desktop/coding/EntryPendolarismo_202501.csv")
pendolarismo.head()

,provincia_della_sede,comune_della_sede,stesso_comune,ente,numero_amministrati,distance_min_KM,distance_max_KM
0,CATANIA,ACIREALE,NO,CONSIGLIO PER RIC. IN AGRICOLTURA E ANALISI EC...,11,5,10
1,VITERBO,ACQUAPENDENTE,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,8,200,600
2,VITERBO,ACQUAPENDENTE,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,17,50,100
3,NAPOLI,AFRAGOLA,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,371,20,50
4,PESCARA,ALANNO,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,27,5,10

In [18]:
pendolarismo.rename(columns={"comune_della_sede": "comune"}, inplace=True)

In [20]:
pendolarismo.head()

,provincia_della_sede,comune,stesso_comune,ente,numero_amministrati,distance_min_KM,distance_max_KM
0,CATANIA,ACIREALE,NO,CONSIGLIO PER RIC. IN AGRICOLTURA E ANALISI EC...,11,5,10
1,VITERBO,ACQUAPENDENTE,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,8,200,600
2,VITERBO,ACQUAPENDENTE,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,17,50,100
3,NAPOLI,AFRAGOLA,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,371,20,50
4,PESCARA,ALANNO,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,27,5,10

In [21]:
pendolarismo.rename(columns={"ente": "amministrazione"}, inplace=True)

In [23]:
pendolarismo['fascia di distanza'] = pendolarismo['distance_min_KM'] + '-' + pendolarismo['distance_max_KM'] + 'km'
pendolarismo.head()

,provincia_della_sede,comune,stesso_comune,amministrazione,numero_amministrati,distance_min_KM,distance_max_KM,fascia di distanza
0,CATANIA,ACIREALE,NO,CONSIGLIO PER RIC. IN AGRICOLTURA E ANALISI EC...,11,5,10,5-10km
1,VITERBO,ACQUAPENDENTE,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,8,200,600,200-600km
2,VITERBO,ACQUAPENDENTE,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,17,50,100,50-100km
3,NAPOLI,AFRAGOLA,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,371,20,50,20-50km
4,PESCARA,ALANNO,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,27,5,10,5-10km

In [24]:
pendolarismo.drop(['distance_min_KM', 'distance_max_KM'], axis = 1, inplace = True)

In [25]:
pendolarismo.sample(5)

,provincia_della_sede,comune,stesso_comune,amministrazione,numero_amministrati,fascia di distanza
8589,BRESCIA,BRESCIA,NO,MINISTERO DELLA CULTURA,7,50-100km
22878,ROMA,CAMPAGNANO DI ROMA,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,13,200-600km
23614,REGGIO EMILIA,POVIGLIO,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,9,-5km
4521,COSENZA,AMENDOLARA,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,7,50-100km
21953,COSENZA,CROPALATI,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,23,5-10km

In [26]:
pendolarismo.rename(columns={"numero_amministrati": "numero"}, inplace=True)

In [27]:
pendolarismo.sample(5)

,provincia_della_sede,comune,stesso_comune,amministrazione,numero,fascia di distanza
19507,BERGAMO,COVO,SI,MINISTERO DELL'ISTRUZIONE E DEL MERITO,23,-5km
17462,VERONA,BARDOLINO,SI,MINISTERO DELL'ISTRUZIONE E DEL MERITO,44,-5km
13491,BERGAMO,VILLA DI SERIO,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,11,600- km
16553,CATANZARO,MONTEPAONE,SI,MINISTERO DELL'ISTRUZIONE E DEL MERITO,23,-5km
13367,ASCOLI PICENO,SAN BENEDETTO DEL TRONTO,NO,MINISTERO DELL'ISTRUZIONE E DEL MERITO,74,-5km

In [28]:
pendolarismo.to_csv("PENDOLARISMO.csv", index=False)